/node_modules
/.env
/combined.log
/error.log
/expensetracker-2759d-firebase-adminsdk-fbsvc-2e5908a05a.json
/practice.py
/structure_of_services.txt
/keys
/practice.json
/forServiceApp_deploy_main_expensetracker.yml
/practice.py
/practice.js